@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.bg-img {
    background: url("assets/images/bg.png") center/cover;
    z-index: -1;
    position: fixed;
    top: 25%;
    left: 10%;
    width: 80%;
    height: 70%;
    animation: fade-in 1s forwards;
}
body {
    padding: 50px;
    font-family: 'Inter';
    background: black;
    color: white;
}

.nerv-logo2 {
    position: fixed;
    right: 20px;
    bottom: 20px;
    animation: fade-in 1s forwards;
}
.nav-bar{
    padding: 0;
    width: 100%;
    font-family:'Inter';
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar button {
    width: fit-content;
    font-family: 'Inter';
    color: white;
    background-color: transparent;
    border: none;
    font-size: 26px;
    position: relative;
}

.logout {
    height: 50px;
    width: 160px !important;
    background: #D9D9D9 !important;
    border-radius: 100vw;
    color: black !important ;
    transition: all 1s;
}

.button:hover {
    cursor: pointer;
}

.button:not(.logout)::after {
    content: '';
    width: 92%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    transition: clip-path 0.5s;
}

.button:not(.logout):hover::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.logout:hover {
    background: transparent !important;
    color: white !important;
    border: 2px solid white;
}
.verified{
    margin-top:250px;
    margin-left:53px;
    font-size: 50px;
    text-shadow: 4px 4px 4px #000;
    font-weight: 700;
}

.calls {
    margin-top:-10px;
}

.content-container {
    position: fixed;
    bottom: 0;
    font-size: 15px;
}

.headlines-heading{
    margin-top:50px;
    margin-left:53px;
    font-size: 50px;
    text-shadow: 4px 4px 4px #000;
    font-weight: 700;
}

.list{
    margin-top:40px;
    color: #FFF;

font-family: Inter;
font-size: 28px;
margin-left:10px

}
.list2{
    margin-top:40px;
    color: #FFF;

font-family: Inter;
font-size: 28px;


}
.list-date{
    color: rgba(255, 255, 255, 0.50);
font-family: Inter;
font-size: 24px;
margin-left:10px;
}
.buttons{
    font-size:20px;
    font-family: 'Inter';
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}
.buttons button {
    font-family: 'Inter';
    font-size: 25px;
    cursor: pointer;
}
.container{
    display:flex;
    gap:100px;
}


.popup-container {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #000000cc;
    z-index:10;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 80%;
    height: 80%;
    background-color: #111;
}


.map-defence-houses{
    background:url("assets/images/second\ map.svg") center/cover;
    width:100%;
    height:100%;
}
.close-button{
    position:absolute;
    right:10px;
    top:10px;
    font-size:20px;
}
@keyframes fade-in {
    0%{
        opacity:0;

    }
    100%{
        opacity:100%;
    }
}
@keyframes enlarge {
    0%{
        transform: translate(-50%, -50%) scale(0);
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
    }
}
.spyware_text{
    font-size:20px;
    font-family:'Inter';
}